<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Listado de Empleados</span>
               <div class="text-center" >
                  <button class="btn btn-dark btn-lg" routerLink="/create-empleados">Agregar</button>
               </div>
                  <h5 style="margin-top: 40px;" *ngIf = "empleados.length == 0 " >No Hay Datos Para Mostrar</h5>
                <table *ngIf = "empleados.length > 0 " class="table table-striped mt-5">
                <thead>
                   <tr>
                     <th>Nombre</th>
                     <th>Apellido</th>
                     <th>Documento</th>
                     <th>Salario</th>
                     <th></th>
                    </tr>
                </thead>
                  <tbody>
                    <tr *ngFor="let empleado of empleados">
                      <td>{{ empleado.nombre}}</td>
                      <td>{{ empleado.apellido}}</td>
                      <td>{{ empleado.documento}}</td>
                      <td>{{ empleado.salario | currency}}</td>
                      <td>
                        <i class="fas fa-edit fa-lg text-info"  style="margin-right: 40px;" [routerLink] = "['/editEmpleados/', empleado.id]"></i>
                        <i (click) ="eliminarEmpleado(empleado.id)" class="fas fa-trash-alt fa-lg text-danger"></i>
                      </td>
                    </tr>
                  
                  </tbody>
                </table>
             
        </div>
    </div>
</div>
